.container {
  display: inline-flex;

  margin-top: 20px;
}

.createWinnerBtn {
  border: none;
  border-radius: 10px;
  background-color: coral;

  min-width: 60px;
  min-height: 40px;

  font-weight: bold;
  font-size: 16px;
}
